.wex-lightbox-link {
	display: inline;
	margin-right: 15px;
}

.thumb>.thumb-info>.wex-link {
	position: absolute;
	top: 0;
	line-height: inherit;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.thumb>.thumb-info .png {
	right: 80px !important;
}

.wex-download-link {
	right: 25px;
}

.wex-popout-link {
	right: 50px;
}

.wex-lightbox-link.wex-lightbox-fav, .wex-lightbox-link.wex-lightbox-unfav {	
	border-radius: 1.5em;
	border: 1px solid white;
	text-shadow: 0 1px 1px #000;
	transition-delay: .1s;
	margin-left: 5px;
}

.wex-lightbox-link.wex-lightbox-fav.disabled, .wex-lightbox-link.wex-lightbox-unfav.disabled {
	background-color: grey !important;
	opacity: 0.2 !important;
}

.wex-lightbox-link.wex-lightbox-fav {
	background-color: #d5bf2a;
}

.wex-lightbox-link.wex-lightbox-fav:hover {
	background-color: #e6d97f;
}

.wex-lightbox-link.wex-lightbox-unfav {
	background-color: #490;
}

.wex-lightbox-link.wex-lightbox-unfav:hover {
	background-color: #d33;
	text-shadow: 0 1px 1px #700;
}

.wex-lightbox-link.wex-lightbox-unfav:hover .fa:before {
	content: "\f00d"
}

.wex-lightbox-links {
	display: inline-block;
}

.noscroll {
	overflow: hidden;
}